@CHARSET "ISO-8859-1";
/***** Corporate Identity *****/
body {
	background-color: grey; /* color outside the content */
	padding: 0.4em;
	font-family: serif;
}

div#all { /* base definition for all content */
	width: 60em;
	background-color: white;
	margin: 0 auto; /* center all divs */
}

div#ci {
	background-color: orange;
	color: #0B0B61;
	text-align: center;
	font-size: 18px;
	min-height: 150px;
	padding: 0.4em;
}

div#logoimg {
	float: left;
}

div#ci h1 {
	font-size: 24px;
	color: #0B0B61;
}

/*** curr **/
span.curr {
	font-weight: bold;
}

span.substeps {
	font-weight: bold;
}

/*** Content ***/
div#maincontent {
	padding: 1em;
}

div#maincontent h1 {
	color: orange;
}

div#auth label {
	display: inline-block;
	width: 320px;;
	line-height: 1.5em;
}

/*** Steps ****/
div#steps {
	margin: 1em;
	float: right;
	width: 20em;
	border: 2px solid #0B0B61;
	padding: 0.4em;
}

div#steps h1 {
	font-size: 1.2em;
	color: orange;
}

/*** Navigation bar ***/
div#nav {
	background-color: #0B0B61;
	text-align: center;
	color: white;
	display: block;
	padding: 0.4em;
}

div#nav a {
	text-align: center;
	color: white;
	padding: 0.4em;
	font-family: sans-serif;
}

div#nav a:hover {
	background: black;
}

/*** Log ***/
div#log {
	
}

div#log h1 {
	font-size: 1em;
}

div#log textarea {
	width: 70em;
	height: 20em;
}

/*** technical infos ***/
div#techinfosswitch {
	padding: 1em;
}

div#techinfos {
	padding: 1em;
}

/*** tally result **/

.votingno {
	word-wrap: break-word;
	word-break: break-all;
}

div#freq {
	/**	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px; */
	background: #fff;
	margin: 45px;
	width: 480px;
	border-collapse: collapse;
	text-align: left;
}

div#freq th {
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
	text-align: center;
}

.optionHead {
	width: 25em;
}

.numVotes {
	width: 10em;
	text-align: center;
}

div#freq td {
	border-bottom: 1px solid #ccc;
	color: #669;
	padding: 6px 8px;
}

div#freq tbody tr:hover td {
	color: #339;
	background: #eff2ff;
}

div#freq tfoot {
	font-style: italic;
}

div#freq .winnerOption {
	font-weight: bold;
}

.allvotes {
	color: blue;	
}

div.allvotes thead th {
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
	text-align: center;
}

div.allvotes tbody td {
	border-bottom: 1px solid #ccc;
	color: #669;
	padding: 6px 8px;
}

.vote { /* all votes themselves have this class */
	text-align: center;
}

.myVote { /* used to highlight the user's own vote in the list of all votes */
	padding: 0.2em;
	border: solid orange;
}

.yesNo { /* all votes themselves which are yes, no or abstention have this class */
	
}

.yesNo1  { color: green !important; } /* all yes-votes have this class */
.yesNo0  { color: red !important;   } /* all no-votes have this class */
.yesNo-1 { color: grey !important;  } /* all abstention-votes have this class */

.score {
	
}


div#errorDiv {
	/* div that is usually hidden, showing a connection problem and the retry button */
	
}

div#error {
	/* div inside errorDiv containing the error massage and the guide what to do. It does not include the retry button */
	background: red;
}

input#electionUrl {
	height: 2em;
	width: 100%;
}

/*** tally voting phase: Ranking Table ***/

.votingPeriod {
    border-bottom: 2px solid #F00;
}

Options th {
	/* font-size: 14px; */
	/* font-weight: normal; */
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
	text-align: center;
}

.voteOptions tbody {
	padding: 12px;
}

.proponents {
	font-style: italic;
}


/* this causes IE to make everything grey but is needed for chrome */
input[type="range"].likeDisabled
	/* not working: and (-webkit-min-device-pixel-ratio:0) */ {
	background-color: lightGrey !important;
}

input[type="range"].likeDisabled::-moz-range-track {
	background-color: lightGrey !important;
}

input[type="range"].likeDisabled::-ms-fill-upper {
	background-color: lightGrey !important;
}

input[type="range"].likeDisabled::-ms-fill-lower {
	background-color: lightGrey !important;
}

/* this causes IE to make everything grey but is needed for chrome */
.voteOptions  input[type="range"]
	/* not working: and (-webkit-min-device-pixel-ratio:0) */ {
	border-radius: 5px;
	box-shadow: inset 0px 3px 5px #333;
	background-color: blue;
	height: 8px;
	vertical-align: middle;
}

.voteOptions input[type='range']::-moz-range-track {
	border-radius: 5px;
	box-shadow: inset 0 3px 5px #333;
	background-color: blue;
	height: 8px;
}

input[type="range"]::-ms-fill-upper {
	background-color: blue;
}

input[type="range"]::-ms-fill-lower {
	background-color: blue;
}

/*
.voteOptions input[type='range']::-ms-track {
	 border-radius: 5px;
	 box-shadow: inset 0 3px 5px #333;
	 background-color: blue;
	 height: 8px;
}
*/
.votingOption {
	border: 2px solid #6678b1;
	width: 95%; /* needed for Internet Explorer to line wrap the legend */
	white-space: normal; /* needed for Internet Explorer to line wrap the legend */
}

.votingOption h1{
	color: darkblue !important;
	font-size: 15px;
}


.votingOptionText:hover {
	outline: 2px solid #6678b1;
	cursor: move;
}

.votingOptionText {
	width: 80%;
}

.rankNo {
	text-align: center;
}

.votingOptionText {
	width: 80%;
	padding: 10px;
}

.moveRank {
	text-align: center;
	word-spacing: 0.1em;
}

.moveRank  a {
	text-decoration: none;
	background-color: yellow;
}

/** this is used to show and hide the scrolling smothly **/
.slideShow {
	overflow-y: hidden;
	transition: max-height 0.8s ease-in-out;
	padding: 1em;
}

.slideHide {
	overflow-y: hidden;
	transition: max-height 0.2s ease-in-out;
	padding-top: 0em;
	padding-bottom: 0em;
}

/*************************************************
*
* ConfigurableTally: Voting Phase 
*
***************************************************/
div#divVoteQuestions {
	
}

.votingQuestionsTable {
	border: 2px solid blue;
}

.tableHeader {
	font-weight: bold;
	font-size: 1.2em;
	color: darkblue;
	padding: 0.5em;
	background-color: #DBEDF5;
}

.unevenTableRow {
	background-color: #EDECEC;
	padding: 0.5em;
}

.evenTableRow {
	background-color: white;
	padding: 0.5em;
}

.curRow {
	background-color: #DBEDF5 !important;
}


/** one motion group = Antragsgruppe = question **/
div.voteQuestion {
	background-color: lightblue;
	padding-left: 1em;
	padding-right: 1em;
	border-radius: 0.5em;
}

button.sendVoteButton {
	background-color: #FFC754; /* sand color old: red; */
	padding: 0.5em;
	border-radius: 2em;
}

button.sendVoteButtonDone {
	background-color: grey;
	color: black;
	padding: 0.5em;
	border-radius: 2em;
}


div.sendVote {
	text-align: right;
	padding-right: 0.5em;
	padding-top: 1em;
	padding-bottom: 0.5em;
}

fieldset.optionFieldSet {
	margin-bottom: 1.5em;
}

label.scoreRadio {
	padding-right: 1em;
}

label.yesNoRadio {
	padding-right: 1em;
}

/***********************************
*** modal window
*************************************/


/* this is a black layer over everything with little transparency */
.modalbg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.9);
	z-index: 999;
	display: block;
	pointer-events: auto;
}

.popupContainer {
	height: 100%; /* this is needed because chrome and opera would use otherwise 0px */
}

/* this is the window which will be modally displayed */
.modal {
	display: table; /* table = shrink to fit the content horizontally */
/*	text-align: center; */
	pointer-events: auto;
	background: rgba(255, 255, 255, 1);
	z-index: 1000;  /* must be higher than in class /modalbg/ */ 
	height: auto;   /* auto = shrink to fit vertically */
	padding: 1em;
	margin-left: auto;  /* -left and -right = auto -->center the div */
	margin-right: auto;
	position: relative;
/*	vertical-align: middle; this does not work in firefox, so use a work aoround whoch also work sin the other browsers */
	top: 50%;        /*  try to center the div vertically */
	transform: translate(0%, -50%); */
	/* style it somehow */
	border: 2px solid;
	border-radius: 10px;
	box-shadow: 10px 10px 5px #888;
}