@CHARSET "ISO-8859-1";

.substep-progress {
	list-style: upper-latin;
	border: 2px solid darkblue;
	padding: 1em;
}

.substep-progress li {
	text-align: center;
	position: relative;
	border: 0px solid white;
	border-radius: 0.5em;
	display: inline-block;
}

.substep-progress .step-name {
	display: table-cell;
	text-align: center;
	width: 13.8em;
}

.substep-progress .step-name:after {
	content: " \2192";
}

.substep-progress li:last-of-type .step-name:after {
	content: "";
}

.substep-progress .active-step {
	background-color: orange;
}

.substep-progress .done-step {
	background-color: yellowgreen;
}

.substep-progress .todo-step {
	background-color: lightgrey;
}