.tableHeader {
  font-weight: bold;
  font-size: 18px;
  color: #000;
  background-color: #e8e8e8;
}
.votingQuestionsTable {
  border: 1px solid #e8e8e8;
  width: 100%;
}
.evenTableRow {
  background-color: white;
  border: 1px solid #e8e8e8;
}
.votingQuestionsTable .evenTableRow:nth-child(3), .votingQuestionsTable .unevenTableRow:nth-child(3) {
  text-align: right;
}
.votingPeriod {
  border-bottom: 0;
  margin: 20px 0;
  font-size: 14px;
  background-color: rgba(62, 181, 241, 0.9);
  padding: 20px;
  color: #fff;
  border: 0;
  display: inline-block;
}
.curRow {
  background-color: #f4f3f3 !important;
}
div.voteQuestion {
  background-color: #f4f3f3;
  border-radius: 0;
}
#loadedmaincontent ul {
  list-style: none;
}
.votingOption {
  border: 0;
  width: 100%;
}

.tr_active {
  border: 1px solid #f39200;
  border-bottom: 0;
}
.tr_active.cont_box {
  border-bottom: 1px solid #f39200;
  border-top: 0;
}
.tr_active .evenTableRow {
  border: 0;
}
#loadedmaincontent .optionFieldSet .votingOption h1 {
  font-size: 16px;
  color: #f39200 !important;
  font-weight: bold;
}
#loadedmaincontent .optionFieldSet button {
  display: block;
  background: transparent;
  color: #000;
  font-size: 16px;
  padding: 0;
  position: relative;
}
#loadedmaincontent .optionFieldSet button:after {
  content: '\2039';
  position: absolute;
  right: -25px;
  top: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #f39200;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  height: 23px;
  width: 23px;
}
#loadedmaincontent .optionFieldSet button.active:after {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.yesNo {
  font-weight: bold;
  border-bottom: 0;
}
/*#loadedmaincontent fieldset input {
  float: none;
}*/
.yesNoRadio {
  display: inline-block !important;
}
div.sendVote {
  text-align: right;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}
fieldset.optionFieldSet {
  margin-bottom: 0;
}
#loadedmaincontent button {
  padding: 3px 35px 3px 20px;
  line-height: 18px;
  height: 42px;    /*width: 148px;*/
  position: relative;
}
#idstepstitle {
  font-size: 25px;
}
.votingQuestionsTable .evenTableRow:nth-child(3) button, .votingQuestionsTable .unevenTableRow:nth-child(3) button {
  position: relative;
}
.votingQuestionsTable .evenTableRow:nth-child(3) button:after, .votingQuestionsTable .unevenTableRow:nth-child(3) button:after {
  content: '\2039';
  position: absolute;
  right: 16px;
  top: 13px;
  font-size: 33px;
  font-weight: bold;
  color: #fff;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.votingQuestionsTable .evenTableRow.curRow:nth-child(3) button:after, .votingQuestionsTable .unevenTableRow.curRow:nth-child(3) button:after {
  content: '\2039';
  right: 17px;
  top: 13px;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.votingQuestionsTable tr td ul li {
  font-size: 16px;
}
#loadedmaincontent button[disabled] {
  cursor: auto;
  background: #e8e8e8;
  color: #000;
  padding: 3px 20px;
}
#allvotes th {
  padding: 10px;
}
#allvotes .myVote {
  border: solid #f39200;
  border-radius: 10px;
  max-width: 95%;
}
#allvotes button {
  padding: 3px 10px 3px 10px;
  line-height: 18px;
  height: 42px;
  width: 200px;
  position: relative;
}

/*Adaptive*/
@media (max-width:1500px) {
  div#steps li {
    width: 284px;
  }
  h1#pagetitle {
    font-size: 21px;
  }
}
@media (max-width:1199px) {
  div#steps li {
    width: 270px;
  }
  #idstepstitle {
    margin: 10px 0 0 0;
  }
  ul#stepslist span {
    font-size: 15px;
  }
}
@media (max-width:991px) {
  div#steps li {
    width: 258px;
    margin-left: -34px;
  }
  .navbar-collapse.collapse.top_menu ul li a {
    font-size: 18px;
  }
}
@media (max-width:767px) {
  .navbar-toggle {
    display: none;
  }
  .collapse {
    display: block;
  }
  .navbar-collapse.collapse.top_menu {
    padding: 9px 0 0px 15px;
    float: left;
  }
  #locale_select {
    margin: 0px 0 0px 7px;
    float: left;
  }
  div#steps li {
    width: 100%;
    height: 50px;
    margin-left: 0;
  }
  div#steps li:after {
    -webkit-transform: perspective(0px) rotateX(0deg) translateZ(0px);
    transform: perspective(0px) rotateX(0deg) translateZ(0px);
    -webkit-transform-origin: 0 0;
    transform-origin: 0px 0px;
    left: 0;
    border-radius: 0;
    border-top: 0;
  }
  div#steps li:first-child:after {
    border-top: 1px solid #f39200;
  }
  ul#stepslist {
    display: block;
    margin: 0 0 -10px 0;
    width: 100%;
    padding: 0;
  }
}
@media (max-width:599px) {
  #loadedmaincontent {
    overflow: scroll;
  }
  table.votingQuestionsTable {
    width: 500px;
  }
  #loadedmaincontent .optionFieldSet > div {
    max-width: 300px;
  }
}
@media (max-width:599px) {
  #loadedmaincontent .optionFieldSet > div {
    max-width: 223px;
  }
}