RewriteEngine On
AcceptPathInfo On

# use the RewriteBase defined in /public/.htaccess (if needed)
RewriteOptions MergeBase

# stop rewriting if a file (index.php) exists
RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{PATH_INFO} ^$
RewriteCond %{IS_SUBREQ} false

# insert index.php
RewriteRule ^(.*)$  api/v1/index.php?/$1 [QSA,END]

# The questionmark after "index.php" is a work around as without, it does not work
# on some servers. See https://stackoverflow.com/questions/1557258/htaccess-issues-no-input-file-specified#1568937



#########################

# This only works if you have set "AllowOverride All" for the directory
# Options FollowSymLinks must be enabled/allowed

# RewriteEngine On

# RewriteBase /vvvote/api/v1

# stop rewriting if a file (index.php) exists
# RewriteCond %{REQUEST_FILENAME} !-f

# insert index.php
# RewriteRule ^(.*)$   index.php/$1 [L]
